.home-page {
  background: #bbd614;
  color: black;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .home-heading {
    font-family: "Oswald", sans-serif;
    font-size: 48px;
    line-height: 71px;
  }
  .home-content {
    width: 70%;
    font-family: Oswald;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }
  .home-button {
    color: black !important;
    border-radius: 10px;
  }
}
