 .ui.segments .segment {
    height: 90vh;
    background: #555555 !important;
    color : #cdc9c3;
  }
  
.nav-bar{
    margin-top: 22px;
    margin-bottom: -5px;
    margin-left: 2px;
    padding: auto;
}


